html , body {
  color: #747474; 
}
.page-inner {
	box-shadow: 0 5px 10px 5px #d5d5d5;
}
#header {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}
#header a {
	color:gray;
}
h1,h2,h3,h4,h5,h6 {
	color:gray;
}
a:link,
a {
	color:#ff0000;
}
.page-portfolio-list-view  .view-portfolio .views-field-title a.title,
span.title a:link,
span.title a,
.view-portfolio-filter ul li a {
	color:#666;
}

.view-portfolio-filter ul li a {
    border-bottom: 3px solid #ccc;
}
#main-menu ul li {
	color:#747474;
}
#main-menu ul li a {
    border-color: #ff0000;
	border-top: 3px solid transparent;
}
#main-menu  ul li a:hover,
#main-menu  ul li a.active,
#main-menu  ul li a.active-trail {
	color:#ff0000;
	border-color:#ff0000;
}
#main-menu  ul ul {
	background: #edebeb;
    border-top: 3px solid #ff0000;
    -moz-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
}
#main-menu  ul li li {
	border-bottom:1px solid #ccc;
}
#main-menu  ul ul a {
   border:none;
}
#main-menu  ul li li:hover,
#main-menu  ul li li.active,
#main-menu  ul li li.active-trail {
   background-color: rgba(255, 255, 255, 0.5);
}
#main-menu ul li a,
#main-menu  ul ul a,
#main-menu  ul li li a:hover,
#main-menu  ul li li a.active,
#main-menu  ul li li a.active-trail {
	color:#333;
}
.main-section-header {
    background: none repeat scroll 0 0 #282a2b;
    border-bottom: 5px solid #ff0000;
}
.main-section-header h1 {
    color: #fff;
}

nav.breadcrumb ol li a {
	color:#ff0000;
}

.l-footer {
	color:#fff;
    border-top: 3px solid #ff0000;
	background:url("../images/footer-back.png") repeat;
}
.l-footer h1, .l-footer h2, .l-footer h3, .l-footer h4, .l-footer h5, .l-footer h6 {
	color:#fff !important;
}
.l-footer ul.menu li {
    border-bottom: 1px solid #505152;
    border-color: #505152;
}
.l-footer ul.menu li a {
	color:#bfbfbf;
}
.l-footer ul.menu li a:hover {
	color:#fff;
}
.bottom-inner {
	background-color:#282a2b;
	border-color:#4b4c4d;
}
#search-box .search-form {
    background: none repeat scroll 0 0 #fff;
}
#search-box .search-form  input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #000;
}
article .content-left .view-submitted-by .views-field-picture img {
	border:1px solid #ccc;
}
article .content-left .view-submitted-by .views-field-changed { 
    color: #999;
}
.view-theme-image .views-field-nothing .field-content .link,
.view-theme-image .views-field-nothing .field-content .image-link  {
    text-indent: -9999px;
    display: inline-block;
}
.view-theme-image .views-field-nothing .field-content .link a {
    background: url("../images/bg.png") no-repeat scroll -71px -3px rgba(0, 0, 0, 0);
    width: 37px;
    display: list-item;
    height: 37px;
}
.view-theme-image .views-field-nothing .field-content .image-link a {
    background: url("../images/bg.png") no-repeat scroll -36px -3px rgba(0, 0, 0, 0);
    width: 36px;
    display: list-item;
    height: 37px;
}
.view-theme-image .contextual-links-wrapper {
	display:none !important;
}

.view-theme-image .views-field-nothing .field-content a {
	color:#333;
}
#block-views-blog-block .view-display-id-block .views-field-title {
    border-bottom: 1px solid #555;
}
.view-theme-image .views-field-nothing #detail .mask,
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   background: none repeat scroll 0 0 #ff0000;
}
#search-box .search-form .form-submit {
    background: url("../images/search.png") no-repeat scroll 50% center #ff0000;
    border: medium none;
    box-shadow: none;
    height: 33px;
    margin-top: 0;
    padding: 0;
    text-indent: -9999px;
    width: 33px;
	margin-right:0px;
}
#search-box span.icon {
    background: url("../images/search.png") no-repeat scroll #ff0000;
    cursor: pointer;
    padding: 16px;
    background-position: 50%;
}
.view-portfolio-filter ul li a.selected,
.view-portfolio-filter ul li a:hover {
    border-bottom: 3px solid #ff0000;
}
.view-portfolio-filter ul li a:active {
    border-bottom: 3px solid #ff0000;
}
.page-portfolio-list-view- .view-portfolio .views-field-field-category {
    background: none repeat scroll 0 0 #ff0000;
}
.view-portfolio.view-display-id-page_4 .info{
	background:#ff0000;
}
.view-portfolio.view-display-id-page_4 .info .title a {
	color:#333;
}
.view-portfolio.view-display-id-page_4 .info .title a {
	color:#333;
}
.page-portfolio-list-view- .view-portfolio .views-field-field-category a {
	color:#fff;
}
.theme-content-list-view .right-side .category {
	color:#ff0000;
}
.panel-col-last a:hover {
    color: #ff0000;
}
.panel-col-last .field-name-field-project-url,
.panel-col-last .field-name-field-skilles-needed,
.panel-col-last .field-name-field-category {
	border-bottom:1px solid #e0dede;
}

@media all and (max-width: 800px) {
body {
    box-shadow: 0 5px 10px #d5d5d5;
}
a.nav-toggles {
    color: #fff !important;
}
#navigation ul li a {
    background: none repeat scroll 0 0 #cccccc;
    border-bottom: 2px solid #fff;
    color: #fff;
}
#navigation ul li a.active,
#navigation ul li a:hover {
	background:#878881;
	color:#fff;
}

}
